/***************************
CUSTOM CLASSES
***************************/

.clear{
clear: both;
}

.circle {
   border-radius: 50%;
   behavior: url(PIE.htc); /* IE8 SUPPORT */
}

/* ELEMENT CENTERING */
.center-vert {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center-hoz {
    margin: 0 auto;
}

.hidden {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;   
}
.absolute {
    position: absolute !important;
}

/* Removes hyperlink underline */
a{  
    text-decoration: none !important;
}

input{
    text-transform: capitalize;
    outline: none;
    outline-color: transparent;
}

*:focus{
    outline: none;
    outline-color: transparent;
}

/***************************
CUSTOM MIXINS
***************************/
@mixin translate-y($yval){
    transform: translateY($yval) !important;
}

@mixin translate-x-0($xval){
    transform: translateX($xval) !important;
}

@mixin transition-ease($element,$duration){
    -webkit-transition: $element $duration ease !important;
    -moz-transition: $element $duration ease !important;
    -o-transition: $element $duration ease !important;
    -ms-transition: $element $duration ease !important;
    transition: $element $duration ease !important;   
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}



