/*
*
*   NAME: Media Vault Sass Styling
*   AUTHOR: James Hanford
*   CREATED: 20/08/2015
*   VERSION: 1.0.0
*
*/
/***************************
TYPOGRAPHY
***************************/
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
/***************************
CUSTOM CLASSES
***************************/
.clear {
  clear: both; }

.circle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* IE8 SUPPORT */ }

/* ELEMENT CENTERING */
.center-vert {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.center-hoz {
  margin: 0 auto; }

.hidden {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

.absolute {
  position: absolute !important; }

/* Removes hyperlink underline */
a {
  text-decoration: none !important; }

input {
  text-transform: capitalize;
  outline: none;
  outline-color: transparent; }

*:focus {
  outline: none;
  outline-color: transparent; }

/***************************
CUSTOM MIXINS
***************************/
/***************************
VARIABLES
***************************/
/***************************
PAGE STYLING
***************************/
/***************************
LOGIN CLASSES
***************************/
.Login-Container {
  display: block;
  width: 330px;
  overflow-y: hidden; }
  .Login-Container ul {
    margin: 0;
    padding: 0; }
  .Login-Container li {
    list-style-type: none; }
  .Login-Container ul li .Input_Icon {
    position: absolute;
    height: 38px;
    width: 38px;
    margin-top: 9px;
    background-color: #4c5666;
    text-align: center;
    line-height: 38px; }
  .Login-Container ul li .Input_Icon:before {
    font-size: 130%;
    color: #6b788c; }
  .Login-Container ul li .Input_Hide {
    position: absolute;
    background-color: #414A58;
    margin-top: 9px;
    height: 38px;
    margin-left: 310px;
    width: 20px; }
  .Login-Container ul li .InputError {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    color: #dc5041;
    margin: 0;
    margin-bottom: 5px;
    padding-right: 5px;
    width: 100%;
    text-align: right; }
  .Login-Container input[type=text], .Login-Container input[type=password], .Login-Container input[type=number] {
    width: 100%;
    height: 38px;
    background-color: #414a58;
    border: none;
    color: #9ca9be;
    padding: 10px 0;
    padding-left: 55px;
    padding-right: 5px;
    margin: 9px auto;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 105%;
    line-height: 20px; }
  .Login-Container input[type=text]:focus, .Login-Container input[type=password]:focus, .Login-Container input[type=number]:focus {
    color: #31c0be; }
  .Login-Container ::-webkit-input-placeholder {
    color: #6b788c; }
  .Login-Container :-moz-placeholder {
    /* Firefox 18- */
    color: #6b788c; }
  .Login-Container ::-moz-placeholder {
    /* Firefox 19+ */
    color: #6b788c; }
  .Login-Container :-ms-input-placeholder {
    color: #6b788c; }
  .Login-Container input[type=submit] {
    width: 100%;
    background: #31c0be;
    height: 40px;
    color: white;
    border-radius: 2px;
    margin: 45px 0;
    font-family: 'Open Sans', sans-serif; }
  .Login-Container input[type=submit]:focus {
    outline: none; }
  .Login-Container input[type=button] {
    width: 100%;
    background: #31c0be;
    height: 40px;
    color: white;
    border-radius: 2px;
    margin: 45px 0;
    font-family: 'Open Sans', sans-serif; }
  .Login-Container input[type=button]:focus {
    outline: none; }
  .Login-Container ul li:nth-child(1) {
    height: 90px;
    z-index: 999;
    width: 100%;
    font-size: 240%;
    color: #414a58;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif; }
  .Login-Container li:last-child a {
    display: block;
    text-align: center;
    font-family: 'Hind';
    color: #414A58; }
  .Login-Container ul li a {
    color: #8F9CA5; }
  .Login-Container select {
    width: 100%;
    height: 38px;
    background-color: #414a58;
    border: none;
    color: #6b788c;
    margin: 9px auto;
    padding-left: 55px;
    padding-right: 5px;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .Login-Container select option {
    color: #555;
    background-color: #FFF;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px; }

/***************************
SIGN UP CLASSES
***************************/
/***************************
LIBRARY CLASSES
***************************/
.Libhead-Container {
  background-color: #CFD6DA;
  z-index: -1;
  display: table;
  width: 100%; }
  .Libhead-Container .Library-Upload {
    display: table;
    background-color: #2b2f3e;
    color: white;
    font-family: 'Hind';
    margin: 2rem auto;
    padding: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    .Libhead-Container .Library-Upload span {
      display: inline-block;
      vertical-align: middle;
      padding: 10px 25px; }
  .Libhead-Container .upload-input-hidden {
    height: 0px !important;
    padding: 0 !important;
    -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
    -ms-transition: all 1s ease !important;
    transition: all 1s ease !important; }
  .Libhead-Container .upload-input {
    margin: 2rem auto;
    padding-top: 1rem;
    height: 50px;
    -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
    -ms-transition: all 1s ease !important;
    transition: all 1s ease !important; }
    .Libhead-Container .upload-input input[type="file"] {
      display: none;
      color: #2B2F3E;
      font-size: 110%;
      font-family: 'Hind';
      margin: 0 auto;
      padding-left: 90px;
      outline: none; }
    .Libhead-Container .upload-input input[type="file"]::-webkit-file-upload-button, .Libhead-Container .upload-input button {
      font-size: 75%;
      background-color: #31c0be;
      color: #276D6D;
      font-family: 'Hind';
      border: none;
      padding: 10px;
      outline: none;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }

.Library-Container {
  width: 100%;
  display: table;
  position: relative; }
  .Library-Container .Library-Head {
    width: 100%;
    height: 60px;
    background-color: #FBFBFB;
    display: table;
    border-bottom: 1px solid #E6E6E6;
    padding: 0 20px;
    padding-top: 2rem; }
    .Library-Container .Library-Head h1 {
      font-size: 200%;
      font-family: 'Roboto';
      font-weight: 300;
      text-transform: uppercase;
      float: left;
      margin: 0;
      height: 60px;
      line-height: 60px; }
    .Library-Container .Library-Head .LH-Right {
      height: 60px; }
    .Library-Container .Library-Head .Search-Trigger {
      height: 40px;
      float: right; }
      .Library-Container .Library-Head .Search-Trigger i {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        color: #333;
        font-size: 140%;
        height: 60px;
        line-height: 60px; }
  .Library-Container .Library-Search {
    width: 100%;
    height: 0;
    background-color: #FBFBFB;
    color: #2B2F3E;
    text-align: center;
    line-height: 7rem;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 170%;
    margin-bottom: 4rem;
    overflow: hidden;
    -webkit-transition: height 1s !important;
    -moz-transition: height 1s !important;
    -o-transition: height 1s !important;
    -ms-transition: height 1s !important;
    transition: height 1s !important; }
  .Library-Container .Library-Search.active {
    height: 7rem; }
    .Library-Container .Library-Search.active .Search-Bar input {
      width: 100%;
      text-align: center;
      background: none;
      border: none;
      font-family: 'Roboto Slab';
      font-weight: 500;
      font-size: 140%;
      color: #787D80; }
    .Library-Container .Library-Search.active .Search-Bar ::-webkit-input-placeholder {
      color: #DCDCDC; }
    .Library-Container .Library-Search.active .Search-Bar :-moz-placeholder {
      /* Firefox 18- */
      color: #DCDCDC; }
    .Library-Container .Library-Search.active .Search-Bar ::-moz-placeholder {
      /* Firefox 19+ */
      color: #DCDCDC; }
    .Library-Container .Library-Search.active .Search-Bar :-ms-input-placeholder {
      color: #DCDCDC; }
  .Library-Container .Library-Item {
    padding: 1rem; }
    .Library-Container .Library-Item .Item-Thumb {
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
      background-color: #FBFBFB;
      border-bottom: 2px solid #EAEAEA;
      line-height: 15rem;
      text-align: center;
      font-family: 'Roboto Slab';
      color: #2B2F3E;
      font-size: 500%; }
    .Library-Container .Library-Item .Item-Title {
      margin-top: 10px;
      font-family: 'Hind';
      font-size: 110%;
      text-align: center;
      overflow: hidden; }

.Item-View-Container {
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 0;
  z-index: 999;
  -webkit-transition: height 1s !important;
  -moz-transition: height 1s !important;
  -o-transition: height 1s !important;
  -ms-transition: height 1s !important;
  transition: height 1s !important; }
  .Item-View-Container .Item-View-Left {
    width: 75%;
    height: 100vh;
    float: left; }
    .Item-View-Container .Item-View-Left div {
      display: table; }
    .Item-View-Container .Item-View-Left img {
      display: block;
      width: auto;
      height: 45vh; }
    .Item-View-Container .Item-View-Left video {
      display: block;
      width: 100%;
      height: 100%; }
  .Item-View-Container .Item-View-Right {
    width: 25%;
    min-height: 100vh;
    float: left;
    background-color: #EFEFEF;
    position: relative; }
    .Item-View-Container .Item-View-Right .Item-View-Title {
      width: 100%;
      height: 60px;
      background-color: #FBFBFB;
      display: table;
      border-bottom: 1px solid #E6E6E6;
      padding: 0 20px;
      padding-top: 2rem; }
      .Item-View-Container .Item-View-Right .Item-View-Title .Item-View-Title-Top {
        display: table;
        width: 100%; }
        .Item-View-Container .Item-View-Right .Item-View-Title .Item-View-Title-Top i {
          text-align: right;
          float: right;
          font-size: 130%;
          padding: 3px; }
        .Item-View-Container .Item-View-Right .Item-View-Title .Item-View-Title-Top i:hover {
          background-color: #eee;
          cursor: pointer; }
      .Item-View-Container .Item-View-Right .Item-View-Title h1 {
        width: 100%;
        font-size: 150%;
        font-family: 'Roboto';
        font-weight: 300;
        float: left;
        margin: 0;
        margin-bottom: 15px;
        max-height: 60px;
        overflow: hidden; }
    .Item-View-Container .Item-View-Right .Item-View-Info {
      width: 100%;
      padding: 0 2rem;
      display: table; }
      .Item-View-Container .Item-View-Right .Item-View-Info h1 {
        width: 100%;
        font-size: 145%;
        font-family: 'Roboto';
        font-weight: 400;
        float: left;
        margin: 0;
        height: 60px;
        line-height: 60px;
        color: #333; }
      .Item-View-Container .Item-View-Right .Item-View-Info table {
        width: 100%;
        font-family: 'Hind';
        color: #333; }
    .Item-View-Container .Item-View-Right .Item-View-Bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5rem;
      border-top: 1px solid #DCDCDC;
      background-color: #F7F7F7; }
      .Item-View-Container .Item-View-Right .Item-View-Bottom h1 {
        color: #333;
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 100%;
        font-family: 'Hind';
        width: 100%;
        line-height: 5.4rem;
        text-align: center; }
      .Item-View-Container .Item-View-Right .Item-View-Bottom div {
        width: 50%;
        height: 100%;
        float: left; }
      .Item-View-Container .Item-View-Right .Item-View-Bottom div:hover {
        background-color: #31c0be;
        cursor: pointer; }
      .Item-View-Container .Item-View-Right .Item-View-Bottom .Item-View-Bottom-Download {
        border-left: 1px solid #DCDCDC; }

.Item-View-Container.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

/***************************
SETTINGS CLASSES
***************************/
.Settings-Container {
  width: 100%;
  margin: 0 auto;
  display: table;
  position: relative; }
  .Settings-Container h1 {
    font-family: 'Open Sans';
    font-weight: 300; }
  .Settings-Container .Settings-Head {
    width: 100%;
    height: 60px;
    background-color: #FBFBFB;
    display: table;
    border-bottom: 1px solid #E6E6E6;
    padding: 0 20px;
    padding-top: 2rem;
    margin-bottom: 2rem; }
    .Settings-Container .Settings-Head h1 {
      font-size: 200%;
      font-family: 'Roboto';
      font-weight: 300;
      text-transform: uppercase;
      float: left;
      margin: 0;
      height: 60px;
      line-height: 60px; }

/***************************
Form & Input Styling
***************************/
.Update-Form ul {
  margin: 0;
  padding: 0; }
  .Update-Form ul li {
    list-style-type: none; }

.Update_Form ul li .Input_Icon {
  position: absolute;
  height: 38px;
  width: 38px;
  margin-top: 5px;
  background-color: #414a58;
  text-align: center;
  line-height: 38px; }

.Update_Form ul li .Input_Icon:before {
  font-size: 130%;
  color: #6b788c; }

.Update_Form input[type=text], .Update_Form input[type=password] {
  width: 100%;
  min-width: 250px;
  height: 38px;
  background-color: #fcfcfc;
  border: none;
  color: #4C5564;
  padding: 10px 0;
  padding-left: 55px;
  padding-right: 5px;
  margin: 5px auto;
  margin-bottom: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 105%;
  line-height: 20px; }

.Update_Form input[type=text]:focus, input[type=password]:focus {
  color: #31c0be; }

.Update_Form ::-webkit-input-placeholder {
  color: #d0d0d0;
  font-weight: 400; }

.Update_Form :-moz-placeholder {
  /* Firefox 18- */
  color: #e0e0e0; }

.Update_Form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #e0e0e0; }

.Update_Form :-ms-input-placeholder {
  color: #e0e0e0; }

.Update_Form input[type=submit] {
  float: right;
  background: #31c0be;
  height: 40px;
  color: white;
  border-radius: 2px;
  margin: 30px 0;
  font-family: 'Open Sans', sans-serif;
  padding: 7px 20px; }

.Update_Form input[type=submit]:focus {
  outline: none; }

.Update_Form input[type=file]:focus {
  outline: none; }

/* ERROR TAG */
.Update_Form .InputError {
  font-family: 'Open Sans', sans-serif;
  font-size: 75%;
  color: #f45847;
  margin: 0;
  margin-bottom: 5px;
  padding-right: 5px;
  width: 100%;
  text-align: right; }

.Profile_Update_Picture .InputError {
  text-align: left;
  padding-top: 15px; }

/* DROP DOWN */
.Update_Form select {
  width: 100%;
  height: 38px;
  background-color: #fcfcfc;
  border: none;
  color: #4C5564;
  margin: 5px auto;
  padding-left: 55px;
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.Update_Form select option {
  color: #555;
  background-color: #FFF;
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px; }

/***************************
Account Settings
***************************/
.Settings-Account {
  width: 50%;
  float: left;
  padding: 0 80px;
  display: inline-block; }

/***************************
Profile Picture
***************************/
/* Update Profile Picture */
.Profile_Update_Picture {
  width: 50%;
  float: left;
  padding: 0 80px; }

.Profile_Update_Picture_User_Picture {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  background-image: url(../images/default.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.Profile_Update input[type=file] {
  margin-left: 20px; }

/* Update Password */
.Profile_Update_Password {
  width: 50%;
  float: left;
  padding: 0 80px; }

/* Dectivate Account */
.Profile_Update_Deactivate {
  width: 50%;
  float: left;
  margin-bottom: 20px;
  padding: 0 80px; }

.Profile_Update_Deactivate span {
  color: #5E6979;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  cursor: pointer; }

.Profile_Update_Deactivate span:hover {
  color: #fe785f; }

/***************************
MEDIA QUERIES
***************************/
@media (max-width: 1000px) {
  .Settings-Account {
    width: 100%; }

  .Profile_Update_Picture {
    width: 100%; }

  .Profile_Update_Password {
    width: 100%; }

  .Profile_Update_Deactivate {
    width: 100%; } }
@media (max-width: 450px) {
  .Profile_Update_Picture_User_Picture {
    width: 200px;
    height: 200px; }

  .Settings-Account {
    padding: 15px; }

  .Profile_Update_Picture {
    padding: 15px; }

  .Profile_Update_Password {
    padding: 15px; }

  .Profile_Update_Deactivate {
    padding: 15px; } }
/***************************
GLOBAL CLASSES
***************************/
.debug {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: red;
  color: white; }

/***************************
NAVBAR
***************************/
nav {
  display: block;
  width: 18rem;
  position: fixed;
  transform: translateX(-100%);
  height: 100vh;
  background: #2b2f3e;
  z-index: 999;
  -webkit-transition: transform 1s ease !important;
  -moz-transition: transform 1s ease !important;
  -o-transition: transform 1s ease !important;
  -ms-transition: transform 1s ease !important;
  transition: transform 1s ease !important; }
  nav .Logo {
    width: 100%;
    height: 4.9rem;
    color: white;
    text-align: center; }
  nav ul {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; }
    nav ul li {
      color: white;
      font-family: 'Hind';
      padding: 15px;
      text-transform: uppercase;
      font-size: 80%; }
    nav ul li:hover {
      color: #31c0be; }
    nav ul .active {
      color: #7A7A7B;
      background-color: #242836;
      border-top: 1px solid #323748;
      border-bottom: 1px solid #323748; }
    nav ul .active:hover {
      color: #7A7A7B; }

nav.active {
  transform: translateX(0%); }

.Page-Container {
  min-height: 120vh;
  padding-top: 4.9rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: all 1s ease !important;
  -moz-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
  -ms-transition: all 1s ease !important;
  transition: all 1s ease !important; }

.Page-Container.resize {
  left: 18rem; }

.TopBar {
  height: 4.9rem;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0.1rem #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: width 1s ease !important;
  -moz-transition: width 1s ease !important;
  -o-transition: width 1s ease !important;
  -ms-transition: width 1s ease !important;
  transition: width 1s ease !important; }
  .TopBar .Nav-Toggle {
    height: 4.9rem;
    width: 4.9rem;
    background-color: #31c0be;
    float: left;
    z-index: 10;
    border: none;
    border-radius: 0; }
    .TopBar .Nav-Toggle .Nav-Icon {
      display: block;
      margin: 0 auto; }
      .TopBar .Nav-Toggle .Nav-Icon i {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        color: #276D6D;
        font-size: 140%; }
  .TopBar .TopBar-Right {
    position: fixed;
    right: 0;
    -webkit-transition: height 1s !important;
    -moz-transition: height 1s !important;
    -o-transition: height 1s !important;
    -ms-transition: height 1s !important;
    transition: height 1s !important; }
    .TopBar .TopBar-Right .TopBar-Profile {
      color: inherit;
      font-weight: inherit;
      height: 4.9rem;
      padding: 0 25px;
      font-family: 'Hind'; }
      .TopBar .TopBar-Right .TopBar-Profile .TopBar-ProfilePic {
        float: left;
        width: 40px;
        height: 40px;
        background-image: url(../images/default.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .TopBar .TopBar-Right .TopBar-Profile span {
        margin-left: 10px;
        line-height: 4.9rem;
        text-align: center; }
    .TopBar .TopBar-Right ul {
      height: 0;
      display: inline-block;
      text-decoration: none;
      list-style: none;
      overflow: hidden;
      padding: 0;
      margin: 0;
      width: 100%;
      background-color: #F9F9F9;
      padding-right: 20px;
      box-shadow: inset 0 0 0.1rem #ddd;
      -webkit-transition: all 1s !important;
      -moz-transition: all 1s !important;
      -o-transition: all 1s !important;
      -ms-transition: all 1s !important;
      transition: all 1s !important; }
      .TopBar .TopBar-Right ul li {
        height: 0;
        text-align: right;
        color: #242836;
        font-family: 'Hind';
        font-weight: 300;
        font-size: 90%;
        padding: 10px; }
  .TopBar .TopBar-Right:hover .TopBar-Profile {
    background-color: #2B2F3E;
    color: white;
    font-weight: 300; }
  .TopBar .TopBar-Right:hover ul {
    height: initial;
    padding-top: 5px;
    padding-bottom: 5px; }
    .TopBar .TopBar-Right:hover ul li {
      height: initial; }

/*# sourceMappingURL=main.css.map */
